{
  "identifier": __IDENTIFIER_JSON__,
  "name": __NAME_JSON____OPTIONAL_DESCRIPTION_FIELD____OPTIONAL_AUTHOR_FIELD____OPTIONAL_VERSION_FIELD____OPTIONAL_MINIMAL_LAUNCHER_VERSION_FIELD__,
  "frontend": {
    "entry": __FRONTEND_ENTRY_JSON__
  }
}
